/* ------ general
-----------------------------------------------*/
@font-face {
	font-family: "Ringbearer";
	src: url('../fonts/RINGM__.ttf');
  font-family: "PartyBusiness";
	src: url('../fonts/partybusiness__.ttf');
  font-family: "Aniron";
	src: url('../fonts/anirm__.ttf');
}

body {
font-family:'Aniron', Arial, Helvetica, sans-serif;
font-size:11px;
}


#wrapper {
margin:0 auto;
width:1460px;
position:relative;
}

#map {
float:left;
clear:both;
width:1460px;
height:2180px;
}

.point {
position:absolute;
display:none;
padding:10px 15px;
background:#7BB9F0;
font-size:14px;
font-weight:bold;
-moz-border-radius:8px;
}

.point .close {
display:block;
position:absolute;
top:-10px;
right:-10px;
width:24px;
height:24px;
text-indent:-9999px;
outline:none;
background:url(../img/close.png) no-repeat;
}

.point img {
vertical-align:middle;
margin-right:10px;
}

a img {
border:none;
}
#overlay{
  background:rgba(33,33,33,.7);
  margin:0 50%;
  position:fixed;
  top:40px;
  left:-690px;
  border-radius:15px;
  height:200px;
  width:230px;
  padding:10px;
  border:1px solid #333;
  z-index:1000;
  color:#eee;
  letter-spacing:.1em;
  font-size:16px;
  font-family:"Party Business","Kelt","Aniron",serif;
}
#player, #country, #pieceNum{
  margin:0;
}
#player span, #country, #pieceNum{
  font-family:"Ringbearer","Kelt","Aniron",serif;
  font-size:11px;
}
